body{
	background-image: url('https://cdn.shopify.com/s/files/1/2113/1813/products/SwatchWhiteDiamond2018_1400x.jpg?v=1561999406')
}
#photo{
	width: 50%;
	border: 6px ridge red;
	margin: 10px;
	padding: 6px;	 
}
#container{            
	padding:7px;            
}
.emphasis{
	color: red;
	font-weight:bold;
}
#begin{
	background: rgb(230, 230, 230);
	width: 50%;
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0px 0px 10px 12px;
	border: 2px dashed rgb(161, 161, 161);
	padding: 6px;
}
#ingredients{
	background: rgb(230, 230,230);	   
	border: 2px dashed rgb(161, 161, 161);
	float:right;
        position:relative;
        left:0%;
        bottom:550px;
}
#steps{
	background: rgb(230, 230, 230);
	border: 2px dashed rgb(161, 161, 161);
	margin-top:50px;
        padding:6px;
        width:90%;
}
#ingredienttitle{
        font-weight:bold;
        font-size:22px;
}
#tims-cookbook {
	font-weight: bold;
	font-size: 72px;
	font-family: vladimir script;
	color: blue;
}
